<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns="http://java.sun.com/xml/ns/javaee" 
 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
 id="WebApp_ID" version="3.0">
  <display-name>SpringMVCWeek01</display-name>
 
 <!-- spirng mvc de configraion u hem javayla hem xml le yapabiliyoruz -->
 
 <servlet>
 	<servlet-name>dispatcher</servlet-name>
 	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
 	
 	 <init-param>
 		<param-name>contextConfigLocation</param-name>
 		<param-value>/WEB-INF/01.applicationContext.xml</param-value>
 	</init-param>
 	
 	<!--  <load-on-startup>1</load-on-startup> -->
 	
 </servlet>
 
<!-- burada contextConfigLocation init param bilgisini ayarlamazsak varsayilan olarak su isimde bir 
dosya aranacaktir bu dosyayi WEB-INF altinda arar.

[servletName]-servlet.xml  .... dispatcher-servlet.xml dosyasini WEB-INF altinda arayacaktir.

eğer contextConfigLocation ayarlamazsak dosya ismi yukarıdaki gibi olmalıdır.
 -->
 
 <servlet-mapping>
 	<servlet-name>dispatcher</servlet-name>
 	<url-pattern>/</url-pattern> 
 </servlet-mapping>
 
<!-- / ifadesi bu servlet , default servlettir anlamina gelmektedir.gelen istek ilk olarak dispatcher servlet
tarafından karsılanacaktır -->
 
 
</web-app>