<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringMVCWeek05JPA:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringMVCWeek05JPA_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="SpringMVCWeek05JPA/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringMVCWeek05JPA" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Spring MVC-4.3.7.RELEASE" />
          <element id="library" level="project" name="Spring-4.3.7.RELEASE" />
        </element>
      </element>
    </root>
  </artifact>
</component>